bin/
build/
dist/
sen2cor/cfg/.estimation
dem/
log/
sen2cor/build/
sen2cor/L2A_AtmCorr.*
*.o
.p*
*.pyc
*~
.spyderproject
.DS_Store
.settings
sen2cor/L2A_Tables_old.py
sen2cor/cfg/[PSD] S2-PDGS-TAS-DI-PSD [12].pdf
sen2cor/cfg/[PSD] S2-PDGS-TAS-DI-PSD [12].pdf
*.pdf