include README.pdf
recursive-include SEN2COR *
exclude SEN2COR/src/*.pyc SEN2COR/src/*.c SEN2COR/src/*.o
global-exclude L2A_AtmCorr.py L2A_TestUtils.py .DS_Store .estimation *.bak *.tmp *~
prune SEN2COR/bin
prune SEN2COR/log 
prune SEN2COR/dem
prune SEN2COR/src/build
prune SEN2COR/build/temp.*
