include README.txt
include README.md
include SETUP.pdf

recursive-include sen2cor *

exclude sen2cor/*.pyc sen2cor/*.c sen2cor/*.o
global-exclude L2A_AtmCorr.py L2A_TestUtils.py .DS_Store .estimation *.bak *.tmp *~
prune sen2cor/bin
prune sen2cor/dem
prune sen2cor/log
prune sen2cor/build/temp*
